@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
@media (max-width: 767px) {
  /* custom css */
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 13px;
  }
  a {
    font-size: 13px;
  }
  button {
    font-size: 13px;
  }
}
.rounded_style {
  border-radius: 25px;
}
.card_item {
  border-radius: 25px;
}
/* .form_style {
  border: 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
  background-color: #f3f1f5;
} */

.submit-button {
  background-color: #ee2656;
}
